  <!--navbar conaining a drop down login button thing that will make a post to log user in
  inside the login dropdown feature will have a if you dont have an accout signup here which will take us to the signup page-->
{{#if logged}}
{{> nav login=true}}
{{else}}
{{> nav login=false}}
{{/if}}
  <div class="container">
    <div class="row">
      <!-- a different bar with drop down menus for position, season, a searchbar for names, another drop 
      down menu for something-->

      <!--div that will house a table of players that was searched-->



      <!--div that will house our roster table
      use of handlebars in this div
      {{#each player}}
      code for each player div in our roster
      {{/each}}
      -->

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
