 
    <form action="Login.html" class="login-form">
    <h2> Login In</h2>
    <div class="txtb">
    <input type="text" name="username" placeholder="Username">
    </div>
    <div class="txtb">
    <input type="password" name="pass" placeholder="Password">
    </div>
    <input type="submit" class="loginbtn" value="Login">

    <div class="bottom-text">
    Don't have a account? <a href="#">Sign up</a>