{{#if user}}
{{> nav login=true}}
{{else}}
{{> nav login=false}}
{{/if}}


<div class="container">
  <div class="row">
    <!--this is the sign-up handlebars
    your html code for the signup page will go here-->
    <form class="signup col-lg-12">
      <div class="form-group">
        <label for="signupusername">Username</label>
        <input type="text" class="form-control" id="signupusername" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <button type="submit" class="submit btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<!--linking jquery-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--linking our own javascript file -->
<script type="text/javascript" src="js/signup.js"></script>