<div class="container">
  <div class="row">
    <!--this is the sign-up handlebars
    your html code for the signup page will go here-->
  </div>
</div>
<!--linking jquery-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--linking our own javascript file -->
<script src="/js/signup.js"></script>
