*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: url(assets/field.jpg);

}
.login-form{
width: 360px;
background: #ffffff;
height: 580px;
padding: 80px 40px;
border-radius:10px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
.login-form h2{
    text-align: center;
    margin-bottom: 60px;
}
.txtb{
    border-bottom: 2px solid blue;
    position: relative;
    margin: 30px 0;
}
.txtb input{
    font-size: 15px;
    color: grey;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}
.txtb span::before{
    content: attr(da)
}

