.list-group-item {
  line-height: 2.5;
}
body {
  background-image: url(../image/footballbgimage.jpg);
  background-size: 100%;
}

.nav-link {
  
  color: #f2f2f2;
 
}

.nav {
  text-align: end;
}

.btn {
  color: #f2f2f2
}

#nav-bar{ 
  width: 100%;
  margin-top: 1em;
}

h1{
  line-height: 3.0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 80px;
  text-align: center;
  color: black
  
}
#seasonSelect {
 
  margin-right: 0.5em;
}

#positionSelect {
  margin-right: 0.5em;
} 

#statSelect {
  margin-right: 0.5em;
}

.selector {
  align-content: right;
}
.signup {
  background-color: rgba(255,255,255,0.6);
  padding: 1em;
  width: 100%;
  margin-top: 2em;
}

