<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../public/styles/styles.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Benchwarmer Fantasy Football</title>



</head>


<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <button class="btn"><i class="fa fa-home"></i></button>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" href="#">Log In</a>
        </li>

      </ul>

    </div>


    </div>

  </nav>

  <div class="container">
    <div class="row">
      <!-- a different bar with drop down menus for position, season, a searchbar for names, another drop 
        down menu for something-->

      <!--div that will house a table of players that was searched-->

      <nav class="navbar navbar-light bg-dark" id="nav-bar">
        <form class="form-inline">

          <input class="form-control mr-sm-2" type="search" placeholder="Search Players" aria-label="Search">
          <div class="selector">

            <ul class="nav nav-right">
              <li>
                <div class="form-group" id="seasonFormSelect">

                  <select class="form-control">
                    <option>season</option>
                    <option>2019</option>
                    <option>2018</option>
                    <option>2017</option>

                  </select>
                </div>
              </li>
              <li>
                <div class="form-group" id="positionFormSelect">

                  <select class="form-control">
                    <option>Player Postion</option>
                    <option>QB</option>
                    <option>RB</option>
                    <option>WR</option>
                    <option>TE</option>
                    <option>CB</option>
                    <option>LB</option>
                    <option>SS</option>
                  </select>
                </div>
              </li>
              <li class="nav-item submitBtn">

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

              </li>
            </ul>
          </div>
        </form>
      </nav>

      <!--div that will house our roster table
        use of handlebars in this div
        {{#each player}}
        code for each player div in our roster
        {{/each}}
        -->

    </div>
  </div>
  </div>
  <div class="container1">
    <h1>
      Benchwarmer Fantasy Football
    </h1>
  </div>

</body>

</html>